body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #1c1c1c;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	min-height: 600px;
	border: 2px solid #fdd505;
	border-radius: 10px;
	background: #0b0a0a;
}

.game-container {
	width: 500px;
}

.planet-name {
	width: 200px;
	background: #161611;
	color: #fdd505;
	text-align: center;
	margin: 0 auto;
}

.planet-name h2 {
	padding: 10px;
}

.planet-info {
	/* display: flex;
	flex-direction: column; */
	min-height: 400px;
	justify-content: space-around;
	border: 1px solid #fdd505;
}

.planet-info .line {
	border: 1px solid yellow;
	width: 100%;
}

.planet-info span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	min-height: 125px;
	margin: 0 auto;
}

.planet-info span h3 {
	color: #fdd505;
	border: 2px solid;
	line-height: 1;
	padding: 10px;
	width: 500px;
	text-align: center;
}

.planet-info span p {
	font-weight: 600;
	color: #161611;
	padding: 10px;
	background: #fdd505;
	min-width: 100px;
}

.planet-info p {
	color: #fff;
	text-align: center;
	font-weight: 900;
}

.planet-info p span {
	display: inline;
	padding: 2px 3px;
	border: 1px solid #fdd505;
}

.game-footer {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.game-footer button {
	border: 0;
	padding: 15px 40px;
	border-radius: 30px;
	font-weight: 900;
	background-color: yellow;
	font-size: 18px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.app {
		height: auto;
	}
	.game-container {
		width: auto;
	}

	.planet-info span {
		flex-direction: column;
		width: 300px;
	}

	.planet-info span h3 {
		width: auto;
		margin-bottom: 0;
	}

	.planet-info span p {
		margin-top: 0;
	}

	.planet-info .line {
		width: 0;
		height: 20px;
	}
}
